package views

import (
)

// TODO:show user message (should be there immediatly) -> chatgpt chat
templ Index() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
			<script src="https://cdn.tailwindcss.com"></script>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<link rel="stylesheet" href="static/css/style.css"/>
			<link rel="stylesheet" href="static/css/output.css"/>
			<title>prompt-game</title>
		</head>
		<body>
			<textarea name="prompt_input" id="prompt-input" class="border-black border"></textarea>
			<button
				hx-post="/prompt/user"
				hx-target="#chat"
				hx-swap="beforeend"
				hx-include="#prompt-input"
				hx-trigger="click, hx:afterRequest:fetch-response"
			>
				send
			</button>

			<div id="chat"></div>

            <script>
                document.body.addEventListener("htmx:afterRequest", function (evt) {
                    if (evt.detail.pathInfo.requestPath === "/prompt/user") {
                        const promptInput = document.querySelector("#prompt-input");
                        const body = { prompt_input: promptInput.value };
                        promptInput.value = ""
                        htmx.ajax('POST', '/prompt/assistant', { values: body, swap: "beforeend", target: "#chat" });
                    }
                });
            </script>

		</body>
	</html>
}
