.simplebar-scrollbar::before {
    background: #75b8c7 !important;
}

/* hide default scrollbar on simplebar elements */
[data-simplebar]::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
/* fix too large simplebar placeholdewr */
.simplebar-placeholder {
    display: none;
}

