@import "./simplebar.css";
@import "./highlightjs.css";

.chat-answer h3 {
    font-size: 23px;
    font-weight: bold;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

#submit-button.htmx-request .button-text {
  display: none;
}

.htmx-indicator{
    display: none;
}
.htmx-request .htmx-indicator{
    display: inline;
}
.htmx-request.htmx-indicator{
    display: inline;
}

hr {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}
